/02-Hari anitzek programazioa/AzterketaMaiderArizmendiarrieta/nbproject/private/
/04-Sare komunikazioa/AzterketaMaider/nbproject/private/
/04-Sare komunikazioa/AzterketaMaider/build/
/02-Hari anitzek programazioa/AzterketaMaiderArizmendiarrieta/build/
/02-Hari anitzek programazioa/Errepaso/01/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/01/build/
/02-Hari anitzek programazioa/Errepaso/02/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/02/build/
/02-Hari anitzek programazioa/Errepaso/03/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/03/build/
/02-Hari anitzek programazioa/Errepaso/04/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/04/build/
/02-Hari anitzek programazioa/Errepaso/05/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/05/build/
/02-Hari anitzek programazioa/Errepaso/06/nbproject/private/
/02-Hari anitzek programazioa/Errepaso/06/build/
